<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--
      context:exclude-filter ： 排除扫描
      type ：设置排除扫描的方式
        annotation ：根据注解的类型进行排除，expression需要设置排除的注解的全类名
        assignable ：根据类型进行排除，expression需要设置排除的类的全类名

      context:include-filter ：包含扫描
      ！注意 ： 需要在context:component-scan 标签中设置 use-default-filter="false"
      use-default-filter="true" ：所设置的包下所有的类都需要扫描，此时可以使用排除扫描
      use-default-filter="false" ：所设置的报下所有的类都不需要扫描，此时必须设置包含扫描，否则该组件无效
      type ：设置扫描的方式
        annotation ：根据注解的类型进行包含，expression需要设置扫描的注解的全类名
        assignable ：根据类型进行包含，expression需要设置扫描的类的全类名

    -->

    <!-- 扫描组件 -->
    <context:component-scan base-package="com.ren.spring">

    </context:component-scan>

<!--    &lt;!&ndash; 扫描组件 &ndash;&gt;
    <context:component-scan base-package="com.ren.spring" use-default-filters="true">  &lt;!&ndash; 将use-default-filters设置为false后，include-filter标签才会生效 &ndash;&gt;
        &lt;!&ndash; type : annotation(类型为注解) &ndash;&gt;
        &lt;!&ndash; 此时通过@Controller注解的类都不会被扫描到 &ndash;&gt;
&lt;!&ndash;    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  &ndash;&gt;
        &lt;!&ndash; type : assignable(类型为注解) &ndash;&gt;
        &lt;!&ndash; 此时通过expression地址的类都不会被扫描到 &ndash;&gt;
&lt;!&ndash;    <context:exclude-filter type="assignable" expression="com.ren.spring.service.UserService"/>   &ndash;&gt;
        &lt;!&ndash; type : annotation(类型为注解) &ndash;&gt;
        &lt;!&ndash; 此时只有通过@Controller注解的类都会被扫描到 &ndash;&gt;
 &lt;!&ndash;       <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>&ndash;&gt;
        &lt;!&ndash; type : assignable(类型为注解) &ndash;&gt;
        &lt;!&ndash; 此时只有通过@Controller注解的类都会被扫描到 &ndash;&gt;
    &lt;!&ndash;    <context:include-filter type="assignable" expression="com.ren.spring.controller.UserController"/>&ndash;&gt;
    </context:component-scan>-->
</beans>